{% extends 'base.html' %}
{% block content %}
{#<p class="lead">{{ slot.name }}</p>#}
{#<table class="table">#}
{#<thead>#}
{#<th>#</th>#}
{#<th>Value</th>#}
{#<th>Time</th>#}
{#</thead>#}
{#<tbody>#}
{#{% for value in slot.data %}#}
{#<tr>#}
{#    <td>#}
{#        {{ forloop.counter }}#}
{#    </td>#}
{#    <td>#}
{#        {{ value.value }}#}
{#    </td>#}
{#    <td>#}
{#        {{ value.time }}#}
{#    </td>#}
{#</tr>#}
{#{% endfor %}#}
{#</tbody>#}
{#</table>#}
<div id="main1" class="chart" style="height: 600px;"></div>
<p></p>
<a class="btn btn-outline-primary" href="{% url 'monitor:list' %}">Back</a>
{% endblock %}
{% block script %}
<script>
var data = {{ slot.full_data|safe }};
data.forEach(function (node) {
   node[0]*=1000;
   node[1]*={{ slot.scale_factor }};
});
option = {
    title: {
        text: '{{ slot }}',
        subtext: '{{ slot.unit }}'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            animation: false
        }
    },
    xAxis: {
        type: 'time',
        max: {{ slot.max_time }} * 1000,
        splitLine: {
            show: false
        }
    },
    yAxis: {
        type: 'value',
        min: {% if slot.auto_range %}'dataMin'{% else %}{{ slot.min }} * {{ slot.scale_factor }}{% endif %},
        max: {% if slot.auto_range %}'dataMax'{% else %}{{ slot.max }} * {{ slot.scale_factor }}{% endif %}
    },
    dataZoom: [{
        type: 'inside',
        start: 0,
        end: 100
    }, {
        start: 0,
        end: 100,
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '80%',
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }],
    series: [{
        type: 'line',
        showSymbol: false,
        hoverAnimation: false,
        data: data
    }]
};
var myChart = echarts.init(document.getElementById('main1'));
myChart.setOption(option);
</script>
{% endblock %}